<footer class="footer bg-light px-0 pb-0 border-top border-gray-disabled">
    <div class="primary-container ">
        <div class="footer-top-container d-xl-flex justify-content-xl-between gap-14">
            <div class="footer-top-logo-wrapper d-flex justify-content-between flex-xl-column justify-content-xl-start gap-xl-14 mb-11">
                <div class="veo-logo-box">
                    <img width="351" height="116"
                        src="assets/logos/Logo_Dark.svg" class=""
                        alt="" decoding="async">
                </div>
                <div class="social-logo-box d-flex gap-3">
                    <a href="#" class="footer-social--link"
                        target="_blank">
                        <img width="24" height="24"
                            src="assets/icons/instagram-logo.svg"
                            alt=""
                            class="entered lazyloaded">
                    </a>
                    <a href="#" class="footer-social--link"
                        target="_blank"><img width="24" height="24"
                            src="assets/icons/facebook-logo.svg"
                            alt=""
                            class="entered lazyloaded">
                    </a>
                    <a href="#" class="footer-social--link" target="_blank"><img
                            width="24" height="24"
                            src="assets/icons/tiktok-logo.svg"
                            alt=""
                            class="entered lazyloaded">
                    </a>
                </div>
            </div>
            <div class="footer-links-container d-flex flex-wrap gap-4 align-items-start pb-0 justify-content-between">
                <div class="single-footer-link-box d-flex flex-column align-items-start footer-1">
                    <p class="s3 single-footer-link-box-heading mb-4 mb-sm-5">Quick Links</p>
                    <ul class="single-footer-links p-0">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-1999">
                            <a href="#" class="nav-link ">Events</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-361">
                            <a href="#" class="nav-link ">Locations</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item nav-item nav-item-362">
                            <a href="#" class="nav-link active">Classes</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-363">
                            <a href="#" class="nav-link ">Personal Training</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-364">
                            <a href="#" class="nav-link ">Timetable</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-365">
                            <a href="#" class="nav-link ">Membership</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-367">
                            <a href="#" class="nav-link ">Café</a>
                        </li>
                    </ul>
                </div>
                <div class="single-footer-link-box d-flex flex-column align-items-start footer-2">
                    <p class="s3 single-footer-link-box-heading mb-4 mb-sm-5">Movements</p>
                    <ul class="single-footer-links p-0">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-23">
                            <a href="#" class="nav-link ">Aquatics</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-24">
                            <a href="#" class="nav-link ">Cardio</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-25">
                            <a href="#" class="nav-link ">Dance</a>
                        </li>
                        <li  class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-26">
                            <a href="#" class="nav-link ">Martial Arts</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-27">
                            <a href="#" class="nav-link ">Mindfulness</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-28">
                            <a href="#" class="nav-link ">Indoor Cycling</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-movements nav-item nav-item-1385">
                            <a href="#" class="nav-link ">Strength</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-movements nav-item nav-item-1384">
                            <a href="#" class="nav-link ">Racket Sports</a>
                        </li>
                    </ul>
                </div>
                <div class="single-footer-link-box d-flex flex-column align-items-start footer-3">
                    <p class="s3 single-footer-link-box-heading mb-4 mb-sm-5">About ViteButNotTooMuch</p>
                    <ul class="single-footer-links p-0 ">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-30">
                            <a href="#" class="nav-link ">Contact Us</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-31">
                            <a href="#" class="nav-link ">FAQ</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32">
                            <a target="_blank" href="#" class="nav-link ">Careers</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-1989">
                            <a href="#" class="nav-link ">U By Emaar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-footer d-flex flex-column gap-6  flex-lg-row justify-content-lg-between justify-content-between">
            <div class="bottom-footer-left d-flex justify-content-between gap-sm-8 justify-content-sm-start align-items-center">
                <img 
                    src="assets/logo.jpg"
                    class="bottom-footer--logo entered lazyloaded" alt=""
                    >
            </div>
            <ul class="bottom-footer-right d-flex footer-5 m-0 p-0">
                <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-47">
                    <a href="#" class="nav-link ">Terms &amp; Conditions</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-48">
                    <a target="_blank" href="#" class="nav-link ">Privacy Policy</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-1930">
                    <a href="#" class="nav-link ">Sitemap</a>
                </li>
            </ul>
        </div>
    </div>
</footer>