<header>
    <nav class="navbar navbar-expand-lg fixed-top p-0 secondary">
        <div class="container-fluid justify-content-sm-start p-0 mx-0">
            <div class="menu-close d-flex flex-row justify-content-between mx-3 py-3 mx-sm-6 py-sm-4 my-0 px-0">
                <a href="#"
                    class="navbar-brand navbar-brand-top order-sm-2 order-lg-1 p-0 m-0 d-flex align-items-center">
                    <img src="assets/Logo_Dark.png" alt="Logo" class="img-fluid logo-img" decoding="async">
                </a>
            </div>
            <div class="collapse navbar-collapse order-sm-4">
                <ul class="navbar-nav d-flex justify-content-end align-items-start gap-6 flex-row">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-12">
                        <a href="#" class="nav-link ">Locations</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item nav-item nav-item-13">
                        <a href="#" class="nav-link">Classes</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-14">
                        <a href="#" class="nav-link ">Movements</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-15">
                        <a href="#" class="nav-link ">Timetable</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-16">
                        <a href="#" class="nav-link ">Membership</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-18">
                        <a href="#" class="nav-link ">Personal Training</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-1990">
                        <a href="#" class="nav-link ">U By Emaar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>